In [1]:
pip install gdown

Requirement already satisfied: gdown in /Users/sims/anaconda3/lib/python3.11/site-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in /Users/sims/anaconda3/lib/python3.11/site-packages (from gdown) (4.12.2)
Requirement already satisfied: filelock in /Users/sims/anaconda3/lib/python3.11/site-packages (from gdown) (3.9.0)
Requirement already satisfied: requests[socks] in /Users/sims/anaconda3/lib/python3.11/site-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in /Users/sims/anaconda3/lib/python3.11/site-packages (from gdown) (4.65.0)
Requirement already satisfied: soupsieve>1.2 in /Users/sims/anaconda3/lib/python3.11/site-packages (from beautifulsoup4->gdown) (2.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/sims/anaconda3/lib/python3.11/site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/sims/anaconda3/lib/python3.11/site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/sims/anaconda3/lib/python3.11/site-packages (from requests[socks]->gdown) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sims/anaconda3/lib/python3.11/site-packages (from requests[socks]->gdown) (2023.11.17)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/sims/anaconda3/lib/python3.11/site-packages (from requests[socks]->gdown) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import gdown
import shutil
import sys
import shutil
sys.path.append('../Module')
folder_path = '../Dataset'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score
from sklearn import set_config

from loader_csv import charger_csv
from data_to_csv import df_to_csv
from utils import generate_description
from currency import currency_cleaning
from naics_engineering import naicsEngineering

from Import_csv import import_csv
imported_csv_path = import_csv()

df = pd.read_csv(imported_csv_path)

Downloading...
From (original): https://drive.google.com/uc?id=1vdNaWcJgMzUnlaDVA4FuZRFYinO8UsPQ
From (redirected): https://drive.usercontent.google.com/download?id=1vdNaWcJgMzUnlaDVA4FuZRFYinO8UsPQ&confirm=t&uuid=63cc613b-b549-438f-8f07-52bd77c68539
To: /Users/sims/Documents/Simplon_DEV_IA/Projets/FastAPI-MyHeadHurt/api/Model_pret/Dataset/SBAnational.csv
100%|██████████| 179M/179M [00:17<00:00, 10.5MB/s]
/var/folders/f8/_srl45g93hb_f9bb62qtf1t80000gn/T/ipykernel_74978/1685725648.py:33: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [3]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,LoanNr_ChkDgt,int64,0,0.00,899164,"[4117193001, 4987585007, 1796665000, 851318300..."
1,Name,object,14,0.00,779583,"[SCUBA DIVE & TRAVEL, BACK IN MOTION CHIROPRAC..."
2,City,object,30,0.00,32581,"[NORTH HIGHLANDS, O'Fallon, CORONADO, DALLAS, ..."
3,State,object,14,0.00,51,"[AL, CA, CT, TX, CO]"
4,Zip,int64,0,0.00,33611,"[46220, 1534, 68510, 79065, 88001]"
5,Bank,object,1559,0.17,5802,"[TRUSTMARK NATIONAL BANK, WILSHIRE BANK, PNC B..."
6,BankState,object,1566,0.17,56,"[MA, MI, MT, CA, TX]"
7,NAICS,int64,0,0.00,1312,"[812320, 621391, 621111, 722110, 713990]"
8,ApprovalDate,object,0,0.00,9859,"[30-Mar-99, 23-Jun-00, 15-Jun-06, 13-Dec-05, 3..."
9,ApprovalFY,object,0,0.00,70,"[1997, 2008, 2005, 2002, 2000]"
10,Term,int64,0,0.00,412,"[60, 48, 120, 84, 87]"
11,NoEmp,int64,0,0.00,599,"[3, 2, 1, 7]"
12,NewExist,float64,136,0.02,3,"[2.0, 1.0]"
13,CreateJob,int64,0,0.00,246,"[0, 2]"
14,RetainedJob,int64,0,0.00,358,"[6, 5, 0]"
15,FranchiseCode,int64,0,0.00,2768,"[1, 0]"
16,UrbanRural,int64,0,0.00,3,"[1, 0]"
17,RevLineCr,object,4528,0.50,18,"[Y, N]"
18,LowDoc,object,2582,0.29,8,[N]
19,ChgOffDate,object,736465,81.91,6448,[nan]
20,DisbursementDate,object,2368,0.26,8472,"[31-Oct-04, 31-Jan-05, 30-Jun-03, 31-Dec-03, 3..."
21,DisbursementGross,object,0,0.00,118859,"[$1,666,666.00 , $106,000.00 , $408,000.00 , $..."
22,BalanceGross,object,0,0.00,15,[$0.00 ]
23,MIS_Status,object,1997,0.22,2,"[P I F, CHGOFF]"
24,ChgOffPrinGr,object,0,0.00,83165,"[$22,205.00 , $0.00 , $85,000.00 ]"
25,GrAppv,object,0,0.00,22128,"[$489,000.00 , $100,000.00 , $272,500.00 , $20..."
26,SBA_Appv,object,0,0.00,38326,"[$426,000.00 , $50,000.00 , $5,000.00 , $75,00..."

In [4]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [5]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)
df.NAICS.value_counts()

NAICS
44-45    127251
81        72618
54        68170
31-33     68029
72        67600
23        66646
62        55366
42        48743
56        32685
48-49     22531
71        14640
53        13632
51        11379
52         9496
11         9005
61         6425
21         1851
22          663
55          257
92          229
Name: count, dtype: int64

In [6]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)].astype(object)
df.NewExist.value_counts()

NewExist
1.0    502830
2.0    193520
Name: count, dtype: int64

In [7]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [8]:
mapping = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

df['RevLineCr'].value_counts()

RevLineCr
N    484187
Y    195147
Name: count, dtype: int64

In [9]:
mapping = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

df['LowDoc'].value_counts()

LowDoc
N    608823
Y     66203
Name: count, dtype: int64

In [10]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1)
df = df.drop('FranchiseCode', axis=1)

In [11]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

df['Franchise'] = df['Franchise'].astype(object)
df['LowDoc'] = df['LowDoc'].astype(object)
df['RevLineCr'] = df['RevLineCr'].astype(object)
df['NewExist'] = df['NewExist'].astype(object)
df['ApprovalFY'] = df['ApprovalFY'].astype(object)
df['ApprovalDate'] = df['ApprovalDate'].astype(object)
df['NAICS'] = df['NAICS'].astype(object)
df['BankState'] = df['BankState'].astype(object)
df['Bank'] = df['Bank'].astype(object)
df['State'] = df['State'].astype(object)
df['City'] = df['City'].astype(object)

In [12]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [13]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [14]:
df.shape

(675026, 13)

In [15]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[48-49, 62, 72, 54, 44-45]"
1,Term,object,0,0.0,377,"[37, 288, 84, 60, 300]"
2,NoEmp,object,0,0.0,499,"[1, 6, 3, 7, 28]"
3,NewExist,object,0,0.0,2,"[1.0, 2.0]"
4,CreateJob,object,0,0.0,216,"[1, 0, 2]"
5,RetainedJob,object,0,0.0,323,"[9, 0, 3, 5, 6]"
6,UrbanRural,object,0,0.0,3,"[2, 1, 0]"
7,RevLineCr,object,0,0.0,2,"[N, Y]"
8,LowDoc,object,0,0.0,2,"[N, Y]"
9,GrAppv,int64,0,0.0,16880,"[147000, 50000, 10000, 30000]"
10,SBA_Appv,int64,0,0.0,28240,"[32000, 48280, 106250, 75000, 66300]"
11,Franchise,object,0,0.0,2,[0]
12,Approve,bool,0,0.0,2,"[True, False]"

In [16]:
df_to_csv(df, folder_path, 'SBA_Cleaned_0.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset/SBA_Cleaned_0.csv

In [17]:
df = pd.read_csv(imported_csv_path)

/var/folders/f8/_srl45g93hb_f9bb62qtf1t80000gn/T/ipykernel_74978/3818106162.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [18]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [19]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)

In [20]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)]

In [21]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [22]:
valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

In [23]:
valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

In [24]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1)
df = df.drop('FranchiseCode', axis=1)

In [25]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

df['Franchise'] = df['Franchise'].astype(object)
df['LowDoc'] = df['LowDoc'].astype(object)
df['RevLineCr'] = df['RevLineCr'].astype(object)
df['NewExist'] = df['NewExist'].astype(object)
df['ApprovalFY'] = df['ApprovalFY'].astype(object)
df['ApprovalDate'] = df['ApprovalDate'].astype(object)
df['NAICS'] = df['NAICS'].astype(object)
df['BankState'] = df['BankState'].astype(object)
df['Bank'] = df['Bank'].astype(object)
df['State'] = df['State'].astype(object)
df['City'] = df['City'].astype(object)

In [26]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [27]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [28]:
df.shape

(460816, 13)

In [29]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[62, 71, 54, 44-45, 48-49]"
1,Term,int64,0,0.0,373,"[177, 87, 74, 84]"
2,NoEmp,int64,0,0.0,432,"[3, 5, 2]"
3,NewExist,object,0,0.0,2,"[1.0, 2.0]"
4,CreateJob,int64,0,0.0,192,[0]
5,RetainedJob,int64,0,0.0,276,"[0, 1, 8, 5, 3]"
6,UrbanRural,int64,0,0.0,3,"[1, 2, 0]"
7,RevLineCr,object,0,0.0,2,"[Y, N]"
8,LowDoc,object,0,0.0,2,[N]
9,GrAppv,int64,0,0.0,12824,"[10000, 30000, 58000, 100000, 350000]"
10,SBA_Appv,int64,0,0.0,22309,"[25000, 22500, 180000, 352500]"
11,Franchise,object,0,0.0,2,[0]
12,Approve,bool,0,0.0,2,[True]

In [30]:
df_to_csv(df, folder_path, 'SBA_Cleaned_1.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset/SBA_Cleaned_1.csv

In [31]:
df = pd.read_csv(imported_csv_path)

/var/folders/f8/_srl45g93hb_f9bb62qtf1t80000gn/T/ipykernel_74978/3818106162.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [32]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [33]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)

In [34]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)]

In [35]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [36]:
samples_bad_lol = df[(df['ChgOffDate'].notna())]
df.loc[samples_bad_lol.index, 'MIS_Status'] = samples_bad_lol['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')

In [37]:
samples_bad = df[(df['ChgOffPrinGr'].notna()) & ((df['ChgOffPrinGr'] != 0.0) | (df['ChgOffPrinGr'] > 0.0))]
df.loc[samples_bad.index, 'MIS_Status'] = samples_bad['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).fillna(0.0).astype(float).astype(int)

In [38]:
mapping = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

In [39]:
mapping = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

In [40]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1)
df = df.drop('FranchiseCode', axis=1)

In [41]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [42]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [43]:
df.shape

(675026, 13)

In [44]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[48-49, 62, 54, 44-45, 42]"
1,Term,int64,0,0.0,377,"[216, 120, 240, 84]"
2,NoEmp,int64,0,0.0,499,"[1, 10, 26, 8]"
3,NewExist,float64,0,0.0,2,"[2.0, 1.0]"
4,CreateJob,int64,0,0.0,216,"[0, 2, 9]"
5,RetainedJob,int64,0,0.0,323,"[0, 45]"
6,UrbanRural,int64,0,0.0,3,[1]
7,RevLineCr,object,0,0.0,2,"[N, Y]"
8,LowDoc,object,0,0.0,2,"[N, Y]"
9,GrAppv,int64,0,0.0,16880,"[290000, 30000, 304100, 23000, 50000]"
10,SBA_Appv,int64,0,0.0,28240,"[300000, 816375, 29750, 85000, 9000]"
11,Franchise,int64,0,0.0,2,[0]
12,Approve,bool,0,0.0,2,"[True, False]"

In [45]:
df_to_csv(df, folder_path, 'SBA_Cleaned_2.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset/SBA_Cleaned_2.csv

In [46]:
df = pd.read_csv(imported_csv_path)

/var/folders/f8/_srl45g93hb_f9bb62qtf1t80000gn/T/ipykernel_74978/3818106162.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [47]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,LoanNr_ChkDgt,int64,0,0.00,899164,"[3166644003, 1236043001, 2613064004, 414090400..."
1,Name,object,14,0.00,779583,"[CAR-GUARD OF ERIE, WEE TOWN, INC., WARREN PRO..."
2,City,object,30,0.00,32581,"[MINNEAPOLIS, SPRINGFIELD, BURLINGAME, WEBBERV..."
3,State,object,14,0.00,51,"[IN, CA, MN, NY, OH]"
4,Zip,int64,0,0.00,33611,"[94501, 94901, 53711, 75207, 92211]"
5,Bank,object,1559,0.17,5802,"[CITIZENS BANK NATL ASSOC, U.S. BANK NATIONAL ..."
6,BankState,object,1566,0.17,56,"[OH, GA, CA, NC, MN]"
7,NAICS,int64,0,0.00,1312,"[624410, 722310, 238320, 532112, 0]"
8,ApprovalDate,object,0,0.00,9859,"[27-Feb-08, 17-Dec-02, 18-Apr-03, 14-Aug-92, 6..."
9,ApprovalFY,object,0,0.00,70,"[2006, 1996, 1995, 1999]"
10,Term,int64,0,0.00,412,"[63, 120, 84, 180, 60]"
11,NoEmp,int64,0,0.00,599,"[6, 28, 40, 14, 1]"
12,NewExist,float64,136,0.02,3,"[1.0, 2.0]"
13,CreateJob,int64,0,0.00,246,"[4, 0, 2]"
14,RetainedJob,int64,0,0.00,358,"[11, 30, 12, 0, 1]"
15,FranchiseCode,int64,0,0.00,2768,[1]
16,UrbanRural,int64,0,0.00,3,"[0, 2, 1]"
17,RevLineCr,object,4528,0.50,18,"[0, N, Y]"
18,LowDoc,object,2582,0.29,8,"[N, Y]"
19,ChgOffDate,object,736465,81.91,6448,"[nan, 26-Aug-08]"
20,DisbursementDate,object,2368,0.26,8472,"[29-Feb-08, 1-Dec-10, 13-Apr-88, 1-Dec-09, 31-..."
21,DisbursementGross,object,0,0.00,118859,"[$335,600.00 , $5,000.00 , $76,000.00 , $51,50..."
22,BalanceGross,object,0,0.00,15,[$0.00 ]
23,MIS_Status,object,1997,0.22,2,[P I F]
24,ChgOffPrinGr,object,0,0.00,83165,"[$35,654.00 , $0.00 ]"
25,GrAppv,object,0,0.00,22128,"[$99,000.00 , $20,000.00 , $35,000.00 , $71,80..."
26,SBA_Appv,object,0,0.00,38326,"[$12,500.00 , $137,775.00 , $272,000.00 , $15,..."

In [48]:
df = df.drop_duplicates(subset='LoanNr_ChkDgt')

In [49]:
df['NewExist'] = df['NewExist'].isin({1.0, 2.0}).astype(object)

In [50]:
is_valide = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].isin(is_valide).astype(object)

In [51]:
is_valide = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].isin(is_valide).astype(object)

In [52]:
df = df.dropna(subset=['NAICS'])
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)

In [53]:
mapping = {0: 'unknown', 1: 'urban', 2: 'rural'}
df['UrbanRural'] = df['UrbanRural'].map(mapping).astype(object)

In [54]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1).astype(object)
df = df.drop('FranchiseCode', axis=1)

In [55]:
df['ApprovalDate'] = pd.to_datetime(df['ApprovalDate'], format='%d-%b-%y').dt.strftime('%d-%m-%y').astype(object)

In [56]:
df['ApprovalDate'].unique()

array(['28-02-97', '07-02-06', '25-03-97', ..., '25-02-97', '26-02-97',
       '27-02-97'], dtype=object)

In [57]:
df['ApprovalFY'] = df['ApprovalFY'].astype(str).apply(lambda x: '20' + x[-2:] if int(x[-2:]) >= 0 and int(x[-2:]) <= 27 else '19' + x[-2:]).astype(object)
df['ApprovalFY'].unique()

array(['1997', '2006', '1998', '1999', '2000', '2001', '2003', '2004',
       '2005', '1984', '2007', '1987', '2008', '1988', '2009', '1989',
       '1990', '2010', '1991', '2011', '1992', '2002', '2012', '1993',
       '2013', '1994', '2014', '1995', '1996'], dtype=object)

In [58]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [59]:
samples_bad = df[(df['ChgOffPrinGr'].notna()) & (df['ChgOffPrinGr'] != 0.0)]
df.loc[samples_bad.index, 'MIS_Status'] = samples_bad['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).fillna(0.0).astype(float).astype(int)

In [60]:
samples_bad_lol = df[df['ChgOffDate'].notna()]
df.loc[samples_bad_lol.index, 'MIS_Status'] = samples_bad_lol['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')

In [61]:
df['MIS_Status'].value_counts()

MIS_Status
P I F     550334
CHGOFF    145335
Name: count, dtype: int64

In [62]:
df['Approve'] = df['MIS_Status'].apply(lambda x: 1 if x == 'P I F' else 0).astype(bool)
df.drop(['MIS_Status'], axis=1, inplace=True)

In [63]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Zip', 'LoanNr_ChkDgt']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df = df.dropna()

In [64]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,Name,object,0,0.0,611131,"[NOVEX PRODUCTS, INC., CLUBHOUSE GOLF, TAHITI ..."
1,City,object,0,0.0,28860,"[CRYSTAL, CIBOLO, TAMPA, Houston, SAN DIEGO]"
2,State,object,0,0.0,51,"[KS, FL, CO, PA]"
3,Bank,object,0,0.0,5221,"[BANK OF AMERICA NATL ASSOC, COMMUNITY W. BANK..."
4,BankState,object,0,0.0,55,"[CA, TX, MO]"
5,NAICS,object,0,0.0,20,"[31-33, 48-49, 54, 23, 81]"
6,ApprovalDate,object,0,0.0,7367,"[30-01-04, 22-05-02, 01-08-03, 07-05-01, 03-10..."
7,ApprovalFY,object,0,0.0,29,"[2001, 1998, 1997, 2006]"
8,Term,int64,0,0.0,378,"[63, 240, 84, 5]"
9,NoEmp,int64,0,0.0,502,"[15, 28, 3, 1]"
10,NewExist,object,0,0.0,2,[True]
11,CreateJob,int64,0,0.0,218,"[0, 1, 2]"
12,RetainedJob,int64,0,0.0,325,"[27, 17, 2, 28, 0]"
13,UrbanRural,object,0,0.0,3,"[urban, unknown, rural]"
14,RevLineCr,object,0,0.0,2,"[False, True]"
15,LowDoc,object,0,0.0,2,[False]
16,GrAppv,int64,0,0.0,17048,"[5000, 25000, 665000, 200000, 109000]"
17,SBA_Appv,int64,0,0.0,28480,"[286875, 5000, 22500, 25000, 738750]"
18,Franchise,object,0,0.0,2,"[0, 1]"
19,Approve,bool,0,0.0,2,[True]

In [65]:
df.shape

(696572, 20)

In [66]:
df_to_csv(df, folder_path, 'SBA_Cleaned_Pure.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset/SBA_Cleaned_Pure.csv