In [1]:
import os
import sys
import shutil
sys.path.append('../Module')
folder_path = '../Dataset'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score
from sklearn import set_config

from loader_csv import charger_csv
from data_to_csv import df_to_csv
from utils import generate_description
from currency import currency_cleaning
from naics_engineering import naicsEngineering

from Import_csv import import_csv
imported_csv_path = import_csv()

df = pd.read_csv(imported_csv_path)

C:\Users\33679\AppData\Local\Temp\ipykernel_12504\65876671.py:31: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [2]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,LoanNr_ChkDgt,int64,0,0.00,899164,"[1954285000, 2134625005, 3896355008, 856914400..."
1,Name,object,14,0.00,779583,"[CRT PERFORMANCE LLC, PARTY ON,INC., Schmidty'..."
2,City,object,30,0.00,32581,"[RIO RANCHO, SAINT LOUIS, YORK, ROCHESTER, BUR..."
3,State,object,14,0.00,51,"[NY, WI, MN, WA]"
4,Zip,int64,0,0.00,33611,"[80015, 92672, 44133, 80501, 98004]"
5,Bank,object,1559,0.17,5802,"[ENCHANTMENT LAND CERT. DEVEL C, STATE BANK OF..."
6,BankState,object,1566,0.17,56,"[OH, IL, NY, NC]"
7,NAICS,int64,0,0.00,1312,"[0, 313311]"
8,ApprovalDate,object,0,0.00,9859,"[21-Mar-08, 21-Sep-06, 17-Mar-94, 22-Dec-00, 1..."
9,ApprovalFY,object,0,0.00,70,"[2004, 1992, 2003, 2009, 2008]"
10,Term,int64,0,0.00,412,"[84, 306, 12]"
11,NoEmp,int64,0,0.00,599,"[3, 2, 7]"
12,NewExist,float64,136,0.02,3,"[1.0, 2.0]"
13,CreateJob,int64,0,0.00,246,"[7, 0, 4, 13]"
14,RetainedJob,int64,0,0.00,358,"[40, 0, 1]"
15,FranchiseCode,int64,0,0.00,2768,"[0, 1, 20957]"
16,UrbanRural,int64,0,0.00,3,"[1, 2]"
17,RevLineCr,object,4528,0.50,18,"[N, 0, Y]"
18,LowDoc,object,2582,0.29,8,"[N, Y]"
19,ChgOffDate,object,736465,81.91,6448,"[10-Dec-10, 22-Jul-13, 26-Sep-10, nan]"
20,DisbursementDate,object,2368,0.26,8472,"[30-Nov-01, 30-Jun-07, 31-Mar-08, 31-Dec-04, 4..."
21,DisbursementGross,object,0,0.00,118859,"[$25,000.00 , $675,000.00 , $125,000.00 , $302..."
22,BalanceGross,object,0,0.00,15,[$0.00 ]
23,MIS_Status,object,1997,0.22,2,"[P I F, CHGOFF]"
24,ChgOffPrinGr,object,0,0.00,83165,[$0.00 ]
25,GrAppv,object,0,0.00,22128,"[$100,000.00 , $40,000.00 , $110,000.00 , $322..."
26,SBA_Appv,object,0,0.00,38326,"[$46,750.00 , $8,500.00 , $12,500.00 , $136,40..."

In [3]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [4]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)
df.NAICS.value_counts()

NAICS
44-45    127251
81        72618
54        68170
31-33     68029
72        67600
23        66646
62        55366
42        48743
56        32685
48-49     22531
71        14640
53        13632
51        11379
52         9496
11         9005
61         6425
21         1851
22          663
55          257
92          229
Name: count, dtype: int64

In [5]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)].astype(object)
df.NewExist.value_counts()

NewExist
1.0    502830
2.0    193520
Name: count, dtype: int64

In [6]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [7]:
mapping = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

df['RevLineCr'].value_counts()

RevLineCr
N    484187
Y    195147
Name: count, dtype: int64

In [8]:
mapping = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

df['LowDoc'].value_counts()

LowDoc
N    608823
Y     66203
Name: count, dtype: int64

In [9]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1)
df = df.drop('FranchiseCode', axis=1)

In [10]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

df['Franchise'] = df['Franchise'].astype(object)
df['LowDoc'] = df['LowDoc'].astype(object)
df['RevLineCr'] = df['RevLineCr'].astype(object)
df['NewExist'] = df['NewExist'].astype(object)
df['ApprovalFY'] = df['ApprovalFY'].astype(object)
df['ApprovalDate'] = df['ApprovalDate'].astype(object)
df['NAICS'] = df['NAICS'].astype(object)
df['BankState'] = df['BankState'].astype(object)
df['Bank'] = df['Bank'].astype(object)
df['State'] = df['State'].astype(object)
df['City'] = df['City'].astype(object)

In [11]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [12]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [13]:
df.shape

(675026, 13)

In [14]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[81, 31-33, 54]"
1,Term,object,0,0.0,377,"[75, 60, 52, 30, 84]"
2,NoEmp,object,0,0.0,499,"[2, 5, 3, 9, 10]"
3,NewExist,object,0,0.0,2,"[1.0, 2.0]"
4,CreateJob,object,0,0.0,216,[0]
5,RetainedJob,object,0,0.0,323,"[0, 1]"
6,UrbanRural,object,0,0.0,3,"[1, 0]"
7,RevLineCr,object,0,0.0,2,[N]
8,LowDoc,object,0,0.0,2,[N]
9,GrAppv,int32,0,0.0,16880,"[5000, 49500, 100000, 10000, 25000]"
10,SBA_Appv,int32,0,0.0,28240,"[10000, 270000, 2500, 47600, 10625]"
11,Franchise,object,0,0.0,2,[0]
12,Approve,bool,0,0.0,2,"[False, True]"

In [15]:
df_to_csv(df, folder_path, 'SBA_Cleaned_0.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset\SBA_Cleaned_0.csv

In [16]:
df = pd.read_csv(imported_csv_path)

C:\Users\33679\AppData\Local\Temp\ipykernel_12504\3818106162.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [17]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [18]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)

In [19]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)]

In [20]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [21]:
valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

In [22]:
valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

In [23]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1)
df = df.drop('FranchiseCode', axis=1)

In [24]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

df['Franchise'] = df['Franchise'].astype(object)
df['LowDoc'] = df['LowDoc'].astype(object)
df['RevLineCr'] = df['RevLineCr'].astype(object)
df['NewExist'] = df['NewExist'].astype(object)
df['ApprovalFY'] = df['ApprovalFY'].astype(object)
df['ApprovalDate'] = df['ApprovalDate'].astype(object)
df['NAICS'] = df['NAICS'].astype(object)
df['BankState'] = df['BankState'].astype(object)
df['Bank'] = df['Bank'].astype(object)
df['State'] = df['State'].astype(object)
df['City'] = df['City'].astype(object)

In [25]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [26]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [27]:
df.shape

(460816, 13)

In [28]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[44-45, 53, 54, 23]"
1,Term,int64,0,0.0,373,"[84, 48, 76, 300]"
2,NoEmp,int64,0,0.0,432,"[14, 5, 2, 17, 1]"
3,NewExist,object,0,0.0,2,"[2.0, 1.0]"
4,CreateJob,int64,0,0.0,192,"[0, 7, 2]"
5,RetainedJob,int64,0,0.0,276,"[14, 66, 2, 0]"
6,UrbanRural,int64,0,0.0,3,"[1, 0]"
7,RevLineCr,object,0,0.0,2,"[Y, N]"
8,LowDoc,object,0,0.0,2,[N]
9,GrAppv,int32,0,0.0,12824,"[235000, 40000, 50000, 155000, 157400]"
10,SBA_Appv,int32,0,0.0,22309,"[15000, 7750, 164700, 3000, 25000]"
11,Franchise,object,0,0.0,2,[0]
12,Approve,bool,0,0.0,2,"[False, True]"

In [29]:
df_to_csv(df, folder_path, 'SBA_Cleaned_1.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset\SBA_Cleaned_1.csv

In [30]:
df = pd.read_csv(imported_csv_path)

C:\Users\33679\AppData\Local\Temp\ipykernel_12504\3818106162.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [31]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [32]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)

In [33]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)]

In [34]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [35]:
samples_bad_lol = df[(df['ChgOffDate'].notna())]
df.loc[samples_bad_lol.index, 'MIS_Status'] = samples_bad_lol['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')

In [36]:
samples_bad = df[(df['ChgOffPrinGr'].notna()) & ((df['ChgOffPrinGr'] != 0.0) | (df['ChgOffPrinGr'] > 0.0))]
df.loc[samples_bad.index, 'MIS_Status'] = samples_bad['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).fillna(0.0).astype(float).astype(int)

In [37]:
mapping = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

In [38]:
mapping = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

In [39]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1)
df = df.drop('FranchiseCode', axis=1)

In [40]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [41]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [42]:
df.shape

(675026, 13)

In [43]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[31-33, 71, 54, 44-45]"
1,Term,int64,0,0.0,377,"[84, 1, 82]"
2,NoEmp,int64,0,0.0,499,"[2, 1, 4]"
3,NewExist,float64,0,0.0,2,"[1.0, 2.0]"
4,CreateJob,int64,0,0.0,216,"[1, 0, 2]"
5,RetainedJob,int64,0,0.0,323,"[0, 13, 4, 3]"
6,UrbanRural,int64,0,0.0,3,"[2, 1, 0]"
7,RevLineCr,object,0,0.0,2,"[Y, N]"
8,LowDoc,object,0,0.0,2,[N]
9,GrAppv,int32,0,0.0,16880,"[150000, 40000]"
10,SBA_Appv,int32,0,0.0,28240,"[202500, 161250, 8000, 50000, 127500]"
11,Franchise,int32,0,0.0,2,[0]
12,Approve,bool,0,0.0,2,[True]

In [44]:
df_to_csv(df, folder_path, 'SBA_Cleaned_2.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset\SBA_Cleaned_2.csv

In [45]:
df = pd.read_csv(imported_csv_path)

C:\Users\33679\AppData\Local\Temp\ipykernel_12504\3818106162.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(imported_csv_path)

In [46]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,LoanNr_ChkDgt,int64,0,0.00,899164,"[9400553000, 5631573005, 5758154001, 158206400..."
1,Name,object,14,0.00,779583,"[SPRINGFAST, THE BONHOMME GROUP, LLC DBA TH, C..."
2,City,object,30,0.00,32581,"[IRVING, Rockford, WEST ALLIS, HOUSTON, Wickli..."
3,State,object,14,0.00,51,"[LA, CA, SC, TX, UT]"
4,Zip,int64,0,0.00,33611,"[49628, 65536, 31030, 55044, 32060]"
5,Bank,object,1559,0.17,5802,"[FIRST DAKOTA NATIONAL BANK, CAPITAL ONE NATL ..."
6,BankState,object,1566,0.17,56,"[OH, KY, NC, NY, CA]"
7,NAICS,int64,0,0.00,1312,"[422810, 541211, 484110, 0, 524210]"
8,ApprovalDate,object,0,0.00,9859,"[15-Nov-04, 8-Sep-06, 14-Nov-02, 24-Oct-96, 20..."
9,ApprovalFY,object,0,0.00,70,"[2009, 1999, 1996, 1993]"
10,Term,int64,0,0.00,412,"[61, 84, 24, 120, 63]"
11,NoEmp,int64,0,0.00,599,"[3, 1, 45, 6, 4]"
12,NewExist,float64,136,0.02,3,"[1.0, 2.0]"
13,CreateJob,int64,0,0.00,246,[0]
14,RetainedJob,int64,0,0.00,358,"[256, 0, 7, 10]"
15,FranchiseCode,int64,0,0.00,2768,"[1, 0]"
16,UrbanRural,int64,0,0.00,3,"[1, 2]"
17,RevLineCr,object,4528,0.50,18,"[0, N, Y]"
18,LowDoc,object,2582,0.29,8,"[N, S]"
19,ChgOffDate,object,736465,81.91,6448,"[nan, 14-Apr-11]"
20,DisbursementDate,object,2368,0.26,8472,"[25-Oct-96, 30-Jun-99, 31-Jan-95, 31-May-98, 3..."
21,DisbursementGross,object,0,0.00,118859,"[$55,000.00 , $184,875.00 , $125,000.00 , $90,..."
22,BalanceGross,object,0,0.00,15,[$0.00 ]
23,MIS_Status,object,1997,0.22,2,"[P I F, CHGOFF]"
24,ChgOffPrinGr,object,0,0.00,83165,[$0.00 ]
25,GrAppv,object,0,0.00,22128,"[$70,000.00 , $20,000.00 , $12,500.00 , $90,00..."
26,SBA_Appv,object,0,0.00,38326,"[$2,500.00 , $65,000.00 , $28,800.00 , $50,000..."

In [47]:
df = df.drop_duplicates(subset='LoanNr_ChkDgt')

In [48]:
df['NewExist'] = df['NewExist'].isin({1.0, 2.0}).astype(object)

In [49]:
is_valide = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].isin(is_valide).astype(object)

In [50]:
is_valide = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].isin(is_valide).astype(object)

In [51]:
df = df.dropna(subset='NAICS')
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)

In [52]:
mapping = {0: 'unknown', 1: 'urban', 2: 'rural'}
df['UrbanRural'] = df['UrbanRural'].map(mapping).astype(object)

In [53]:
df['Franchise'] = np.where(df['FranchiseCode'] <= 1, 0, 1).astype(object)
df = df.drop('FranchiseCode', axis=1)

In [54]:
df['ApprovalDate'] = pd.to_datetime(df['ApprovalDate'], format='%d-%b-%y').dt.strftime('%d-%m-%y').astype(object)

In [55]:
df['ApprovalDate'].unique()

array(['28-02-97', '07-02-06', '25-03-97', ..., '25-02-97', '26-02-97',
       '27-02-97'], dtype=object)

In [56]:
df['ApprovalFY'] = df['ApprovalFY'].astype(str).apply(lambda x: '20' + x[-2:] if int(x[-2:]) >= 0 and int(x[-2:]) <= 27 else '19' + x[-2:]).astype(object)
df['ApprovalFY'].unique()

array(['1997', '2006', '1998', '1999', '2000', '2001', '2003', '2004',
       '2005', '1984', '2007', '1987', '2008', '1988', '2009', '1989',
       '1990', '2010', '1991', '2011', '1992', '2002', '2012', '1993',
       '2013', '1994', '2014', '1995', '1996'], dtype=object)

In [57]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [58]:
samples_bad = df[(df['ChgOffPrinGr'].notna()) & (df['ChgOffPrinGr'] != 0.0)]
df.loc[samples_bad.index, 'MIS_Status'] = samples_bad['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).fillna(0.0).astype(float).astype(int)

In [59]:
samples_bad_lol = df[df['ChgOffDate'].notna()]
df.loc[samples_bad_lol.index, 'MIS_Status'] = samples_bad_lol['MIS_Status'].replace(['P I F', np.nan], 'CHGOFF')

In [60]:
df['MIS_Status'].value_counts()

MIS_Status
P I F     550334
CHGOFF    145335
Name: count, dtype: int64

In [61]:
df['Approve'] = df['MIS_Status'].apply(lambda x: 1 if x == 'P I F' else 0).astype(bool)
df.drop(['MIS_Status'], axis=1, inplace=True)

In [62]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Zip', 'LoanNr_ChkDgt']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df = df.dropna()

In [63]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,Name,object,0,0.0,611131,"[PIZZA PICAZZO NORTH SCOTTSDALE, Kathryn Pembe..."
1,City,object,0,0.0,28860,"[Creston, ATTLEBORO, PEOSTA, EAST WINDSOR, POW..."
2,State,object,0,0.0,51,"[CA, CO, PA, AR, VA]"
3,Bank,object,0,0.0,5221,"[BANK OF AMERICA NATL ASSOC, PNC BANK, NATIONA..."
4,BankState,object,0,0.0,55,"[DE, MO, GA, NC, IA]"
5,NAICS,object,0,0.0,20,"[42, 72, 44-45, 54]"
6,ApprovalDate,object,0,0.0,7367,"[10-06-11, 01-04-96, 25-11-98, 08-07-05, 09-08..."
7,ApprovalFY,object,0,0.0,29,"[2002, 2006, 1994, 2008]"
8,Term,int64,0,0.0,378,"[300, 62, 0, 240, 90]"
9,NoEmp,int64,0,0.0,502,"[10, 1, 15, 28, 6]"
10,NewExist,object,0,0.0,2,[True]
11,CreateJob,int64,0,0.0,218,"[25, 0, 4]"
12,RetainedJob,int64,0,0.0,325,"[10, 5, 1, 0]"
13,UrbanRural,object,0,0.0,3,"[urban, rural]"
14,RevLineCr,object,0,0.0,2,"[False, True]"
15,LowDoc,object,0,0.0,2,[False]
16,GrAppv,int32,0,0.0,17048,"[35000, 50000, 58000, 100000, 30480]"
17,SBA_Appv,int32,0,0.0,28480,"[40000, 17500, 450000, 211050, 5000]"
18,Franchise,object,0,0.0,2,[0]
19,Approve,bool,0,0.0,2,"[True, False]"

In [64]:
df.shape

(696572, 20)

In [65]:
df_to_csv(df, folder_path, 'SBA_Cleaned_Pure.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset\SBA_Cleaned_Pure.csv